section{
  padding: 20px;
  border-radius: 15px;
  &.active{
    background-color: var(--hoverColor);
  }

  .value{
    font-size: 40px;
    span{
      font-size: 22px;
      margin-inline-start: 5px;
    }
  }
  > b{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 17px;

  }
  .status{
    margin-top: 10px;
    color: var(--altColor);
    span.arrow{
      margin-right: 5px;
      border: 10px solid transparent;
      border-radius: 2px;
      position: relative;
    }
    &:not(.decrease){

      span.arrow{
        border-bottom-color: var(--altColor);
        top: -15px;
      }

    }
    &.decrease{
      color: var(--mainColor);
      .arrow{
        top: 14px;
        border-top-color: var(--mainColor);

      }
    }
  }
}
