header{
  width: 100%;
  padding: 25px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;

  .btn-info,.time{
    display: flex;
    gap: 60px;
  }
}
